*Instalación e importación de librerías*

In [ ]:
!pip install requests

In [10]:
import requests
import pandas as pd

#### Nivel 1

##### 1. Consulta la API pública JSONPlaceholder utilizando el método GET para obtener:  

Lista de publicaciones (/posts)  
Lista de usuarios (/users)  
Lista de tareas (/todos)

In [3]:
# Publicaciones
posts_ = requests.get("https://jsonplaceholder.typicode.com/posts")

# Usuarios
users_= requests.get("https://jsonplaceholder.typicode.com/users")

# Tareas
todos_= requests.get("https://jsonplaceholder.typicode.com/todos")

##### 2. Muestra por pantalla:

La cantidad total de cada recurso.
El código de estado de cada petición.

In [4]:
# Cantidad de publicaciones y código
print("Publicaciones:", len(posts_.json()))
print("Código de estado:", posts_.status_code)

# Cantidad de usuarios y código
print("Usuarios:", len(users_.json()))
print("Código de estado:", users_.status_code)

# Cantidad de tareas y código
print("Tareas:", len(todos_.json()))
print("Código de estado:", todos_.status_code)

Publicaciones: 100
Código de estado: 200
Usuarios: 10
Código de estado: 200
Tareas: 200
Código de estado: 200

##### 3. Realiza una petición a una publicación inexistente para obtener un error 404 y muestra el código de estado recibido.

In [5]:
error_response = requests.get("https://jsonplaceholder.typicode.com/posts/9999999")
print("Código de estado (post inexistente):", error_response.status_code)

Código de estado (post inexistente): 404

##### 4. Realiza una petición POST para crear una nueva publicación ficticia.  Incluye el título, el cuerpo del mensaje y un userId.  

Muestra la respuesta JSON.
Muestra el código de estado.

In [6]:
new_post = {
    "title": "Mi primera publicación ficticia. Felicidades",
    "body": "Este es el contenido de mi primera prueba."
    "Esto es una cosa muy locochona. Jamás me hubiese imaginado que llegaría a este punto. "
    "Querida, sé que puede ser difícil, y que la cabeza no ayuda o coopera en varias ocasiones, pero "
    "tú puedes, felicitaciones por haber llegado a este punto",
    "userId": 666
}

post_response = requests.post("https://jsonplaceholder.typicode.com/posts", json=new_post)

print("Respuesta JSON:", post_response.json())
print("Código de estado:", post_response.status_code)

Respuesta JSON: {'title': 'Mi primera publicación ficticia. Felicidades', 'body': 'Este es el contenido de mi primera prueba.Esto es una cosa muy locochona. Jamás me hubiese imaginado que llegaría a este punto. Querida, sé que puede ser difícil, y que la cabeza no ayuda o coopera en varias ocasiones, pero tú puedes, felicitaciones por haber llegado a este punto', 'userId': 666, 'id': 101}
Código de estado: 201

##### 5. Realiza una petición PATCH para modificar parcialmente una publicación existente.

Muestra la respuesta JSON.
Muestra el código de estado.

In [7]:
update_data = {
    "title": "Nuevo Título actualizado"
}

patch_response = requests.patch("https://jsonplaceholder.typicode.com/posts/1", json=update_data)

print("Respuesta JSON:", patch_response.json())
print("Código de estado:", patch_response.status_code)

Respuesta JSON: {'userId': 1, 'id': 1, 'title': 'Nuevo Título actualizado', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}
Código de estado: 200

##### 6. Haz una petición DELETE sobre una publicación.

Muestra la respuesta JSON.
Muestra el código de estado.

In [8]:
delete_response = requests.delete("https://jsonplaceholder.typicode.com/posts/1")

print("Respuesta JSON:", delete_response.json())
print("Código de estado:", delete_response.status_code)

Respuesta JSON: {}
Código de estado: 200

#### Nivel 2  

1. Explora el repositorio de Public APIs y elige una API que permita realizar peticiones GET.

### Endpoints de Dog API
- `https://dog.ceo/api/breeds/list/all` → Lista de todas las razas de perros.
- `https://dog.ceo/api/breed/hound/images` → Imágenes de la raza "hound".

1. Petición GET para obtener todas las razas  
2. Código de estado  
3. Mostrar algunos campos del JSON

In [ ]:
#get
url = "https://dog.ceo/api/breeds/list/all"
response = requests.get(url)

# código de estado
print("Código de estado:", response.status_code)

# Mostrar algunos campos del JSON
data = response.json()
print("Estado:", data["status"])
print("Cantidad de razas:", len(data["message"]))
print("Primeras razas:", list(data["message"].keys())[:5])

Código de estado: 200
Estado: success
Cantidad de razas: 108
Primeras razas: ['affenpinscher', 'african', 'airedale', 'akita', 'appenzeller']

Convierte los datos a un DataFrame de pandas:

In [ ]:
# Convertimos el diccionario de razas en un DataFrame
breeds = pd.DataFrame(list(data["message"].items()), columns=["Raza", "Subrazas"])

# Mostrar primeras filas
breeds.head()

            Raza Subrazas
0  affenpinscher       []
1        african   [wild]
2       airedale       []
3          akita       []
4    appenzeller       []

In [12]:
breeds["Subrazas"] = breeds["Subrazas"].apply(lambda x: ", ".join(x) if x else "Ninguna")
breeds.head()

            Raza Subrazas
0  affenpinscher  Ninguna
1        african     wild
2       airedale  Ninguna
3          akita  Ninguna
4    appenzeller  Ninguna